Frontend/bin/
Frontend/obj/

Frontend/.idea/
Frontend/.vs/
Frontend/*.user
Frontend/*.suo
Frontend/*.DotSettings

Frontend/*.tmp
Frontend/*.bak
Frontend/*.log

UserPets/*
!UserPets/Put_Your_Pets_Here

STM32Interface/STM32F103Interface/.cproject
STM32Interface/STM32F103Interface/.mxproject
STM32Interface/STM32F103Interface/.project
STM32Interface/STM32F103Interface/STM32F103C8TX_FLASH.ld
STM32Interface/STM32F103Interface/STM32F103Interface.ioc
STM32Interface/STM32F103Interface/Core/*.o
STM32Interface/STM32F103Interface/Core/*.elf
STM32Interface/STM32F103Interface/Core/*.bin